*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(53, 54, 56, 0.7), rgba(196, 202, 142, 0.7)), url('Pics/cambridge.avif');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* add font-weight: Bold; */
    font-family: 'Poppins', sans-serif;
    padding: 8px 12px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#ffffff;
    display: block;
    margin: auto;
    transition: 0.25s ease-in-out;
}

.nav-links ul li:hover::after{
    width: 95%;

}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 0%;
    transition: background 0.6s ease;
    font-family: 'Poppins', sans-serif;
}

.text-box a:hover{
    background: #ffffff;
    color: #000;
}

nav .fa{
    display: none;
}

@media (max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 16px;
    }

    .text-box a{
        font-size: 14px;
        padding: 8px 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background-color: #8393ff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font: size 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

    .nav-links ul li a{
        font-size: 15px;
        display: block;
        padding: 16px; 
    }

    .nav img{
        width: 100px;
    }

}

/*--course offer--*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: #f4f4f4;
}

h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h3{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.course-col{
    flex-basis: 31%;
    background: #fff3ff;
    padding: 20px 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}
